.start-section {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.index-container {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    width: 90%;
    max-width: 1400px;
}

.text-container {
    flex: 1;
    max-width: 400px;
}

.squares-container {
    z-index: -1;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 615px;
    height: 475px;
    aspect-ratio: 1 / 1;
    gap: 18px;
    margin-left: -2rem;
}

.square {
    width: 30px;
    height: 30px;
    background: linear-gradient(145deg, rgba(65, 105, 225, 0.3), rgba(0, 0, 139, 0.3));
    border: 2px solid rgba(65, 105, 225, 0.5);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.square::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid rgba(0, 0, 139, 0.5);
    box-sizing: border-box;
    z-index: -1;
    transition: all 0.3s ease-out;
}

.square:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.card {
    width: 250px;
    height: 250px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(48, 74, 153, 0.8);
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(48, 74, 153, 0.8);
}

#selfie {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

@media (max-width: 1440px) {
    .index-container {
        justify-content: center;
        max-width: 1200px;
    }

    .squares-container {
        max-width: 400px;
        height: 325px;
    }
}

@media (max-width: 1200px) {
    .squares-container {
        display: none;
    }

    .index-container {
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    .text-container {
        width: 80%;
        margin-bottom: 2rem;
    }

    .text-container h1 {
        font-size: 34px;
    }

    .text-container h2 {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    .text-container {
        width: 100%;
    }

    .text-container h1 {
        font-size: 30px;
    }

    .text-containerh2 {
        font-size: 22px;
    }

    .card,
    #selfie {
        width: 200px;
        height: 200px;
    }
}