.start-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.index-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 70%;
    gap: 18rem;
    word-wrap: break-word;
}

/* h1 h2 don't break */
.index-container h1,
.index-container h2 {
    white-space: nowrap;
}

.index-container p:last-of-type {
    word-break: break-word;
}

.card {
    grid-column: 2 / 3;
    align-self: center;
    width: 250px;
    height: 250px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(166, 0, 83, 0.8);
}

.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(166, 0, 83, 0.8);
    ;
}

#selfie {
    width: 250px;
    height: 250px;
}

/* Responsive */

@media (max-width: 1200px) {

    .card,
    #selfie {
        width: 225px;
        height: 225px;
    }

    .index-container {
        max-width: 70% !important;
        gap: 6rem;
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 32px !important;
    }
}

@media (max-width: 992px) {
    .index-container {
        flex-direction: column;
    }

    .index-container {
        max-width: 40% !important;
        gap: 4.5rem;
    }

    h1 {
        font-size: 36px !important;
    }

    h2 {
        font-size: 28px !important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 34px !important;
    }

    h2 {
        font-size: 26px !important;
    }
}