@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

header {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100% !important;
}

header p {
    font-size: 14px;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    height: 80px;
    width: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.nav-links>* {
    margin-right: 8px;
}

.nav-links>*:last-child {
    margin-right: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav-text {
    position: relative;
    transition: color 300ms;
    display: inline-flex;
    align-items: center;
}

.nav-text::after {
    content: '';
    width: 24px;
    height: 20px;
    background-color: #cc0066;
    opacity: 0;
    transform: translateX(8px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: -1;
}

.nav-text:hover::after {
    opacity: .5;
    transform: translateX(-8px);
}

.marginright {
    margin-right: 8px;
    margin-left: 8px;
}

/* Hide the menu icon by default */
.hamburger-container {
    display: none;
}

/* Show the menu icon and hide nav-links on smaller screens */
@media (max-width: 768px) {
    .hamburger-container {
        display: block;
    }

    .nav-links,
    .button {
        display: none;
    }
}

/* resume button */
.button {
    all: unset;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50%;
    position: relative;
    border: #cc0066 solid 1.5px;
    border-radius: 5px;
    color: #cc0066;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.button p {
    z-index: 1;
}

.button:hover {
    color: #DCDCDC;
}

.button:active {
    border-color: #cc0066;
}

.button::after,
.button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #cc0066;
    opacity: 25%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.button::before {
    left: 0;
    transform: translateX(-8em);
}

.button::after {
    right: 0;
    transform: translateX(8em);
}

.button:hover:before {
    transform: translateX(-1em);
}

.button:hover:after {
    transform: translateX(1em);
}

.button:active:before,
.button:active:after {
    background: #cc0066;
}

@media (max-width: 992px) {
    header {
        padding: 0px;
    }
}