.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.title-contact-wrapper {
    margin-top: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-top: 2rem;
}

.contact-text {
    max-width: 80%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.social-card {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.social-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-btn:hover {
    transform: scale(1.1);
}

.contact-footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 0.9em;
    padding-bottom: 2rem;
}

.contact-title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.contact-info p:first-of-type {
    margin-bottom: -0.5rem;
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;

}

/* Responsive */
@media (max-width: 768px) {
    .contact-title-container {
        margin-bottom: 4rem;
    }

    .title-contact-wrapper {
        margin-top: 2rem;
    }

    .contact-container {
        gap: 30px;
        margin-bottom: auto;
    }

    .contact-text {
        max-width: 90%;
    }

    .contact-footer {
        gap: 16px;
    }
}