@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
    color: white;
    background: #202731;
}

.section-container {
    height: 100vh;
}

section {
    height: 100vh;
    padding: 0 7vw;
}

section:focus {
    outline: none;
}

@media (min-resolution: 192dpi) {
    section {
        height: 100dvh;
    }
}

.eiderwhite {
    color: #E7EAED;
}

.whitepink {
    color: #ffe6e9;
}

.lightgray {
    color: #A3A8AC;
}

.pink {
    color: #cc0066;
}

.darkpink {
    color: #b3005c;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.lightbg {
    background-color: #101f36;
}

.minimal-margin {
    margin: 6px 0px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.625em;
}

h3 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    width: 100%;
}

h3::after {
    margin-left: 1.5em;
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #b3005c;
    display: block;

}

h4 {
    font-size: 1.5em;
    margin: 0 2px 12px 0
}

.align-center {
    justify-content: center !important;
    text-align: center !important;
}

.align-left {
    justify-content: flex-start !important;
    text-align: start !important;
}

.contacts-link {
    text-decoration: none;
}

/* end of base styles */